# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Q1822\by-step-QA1822-final-class-work\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
